<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
      {% include 'forms_js.html' %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      {% block css_files %}
      {% endblock %}
  </head>
  <body>
  <script src="js/bootstrap.min.js"></script>
{% block main_body %}

{% endblock %}

  </body>
</html>
