{% load static %}
{% load crispy_forms_tags %}


{% if authorize %}
<center><h3>Select the files to download</h3></center>
<div>&nbsp;</div>
<div>&nbsp;</div>
{% for i in files_upload %}
<div class="container">
    <ul class="list-group list-group-horizontal-xxl">
        <li class="list-group-item">
        <div class="row g-2">
            <div class="col-md-9">
                     {{ i }}
            </div>
            <div class="col-md-3">
                <a href="/images/{{ i }}" download class="btn btn-primary" aria-disabled="True">download</a>
            </div>
        </div>
        </li>
    </ul>
</div>
{% endfor %}

{% else %}
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="container">
    <div class="alert alert-primary" role="alert">
        <h5>
            <center>
                Recently you are not authorized by administrator to view this page
            </center>
        </h5>
    </div>
</div>
{% endif %}


