{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block css_files %}<link rel="stylesheet" href="/static/css/teacher_homepage.css">{% endblock %}
{% block head_title %}My Works{% endblock %}
{% block main_body %}
{% include 'teacher_header.html' %}


{% include 'teacher_logo.html' %}

<!------------------------------- AS ACADEMIC ------------------------------------------>
{% if req_role == 1 %}
    {% include 'teacher_work_academic.html' %}
<!---------------------------------------- AS SECRETARY ------------------------------->
{% elif req_role == 3 %}
    {% include 'teacher_work_secretary.html' %}
<!---------------------------------------------- AS TEACHER --------------------------------->
{% elif req_role == 2 %}
    {% include 'teacher_work_teacher.html' %}
<!----------------------------------- For new user --------------------------------------->
{% else %}
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="container">
    <ul class="shadow-lg p-3 mb-5 bg-white rounded">
        <li class="list-group-item">
        No works to show, please enter the valid key from the administrator to
        start using our product or call us for assistance: <b>0625789316</b>
        </li>
    </ul>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>


{% endif %}

{% include 'footer.html' %}
{% endblock %}